.faq-container {
   background: rgba(255.255.255.0.05);
   padding: 30px;
   border-radius: 24px;
   backdrop-filter: blur(10px);
}
.faq-item {
    backdrop-filter: blur(8px);
    background: rgba(0,10,50,0.75);
    border: 1px solid rgba(255.255.255.0.08);
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
}
.faq-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}
.faq-question {
   width: 100%;
    padding: 18px 20px;
    border: none;
    background: var(--cor-azul-escuro);
    text-align: left;

    font-size: 16px;
    font-weight: 600;
    color: var(--cor-branco);

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-question::after{
    content: '⇓';
    font-size: 22px;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: var(--cor-azul-escuro);
    border-top: 1px solid var(--cor-azul-claro);
}
.faq-answer p {
    margin: 0;
    color: var(--cor-branco);
    line-height: 1.5;
}
.faq-item.active .faq-answer {
    max-height: 300px;
    padding:18px
}
header h1 span {
   font-size: 48px;
   font-weight: 800;
   margin-bottom: 10px;
}
header p {
   font-size: 18px;
   opacity: 0.8;
}
main {
   padding-top:80px ;
   padding-bottom: 100px;
}
