@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
:root {
 
   --cor-azul-escuro: #0a193d;
   --cor-verde-folha: #55c763;
   --cor-branco: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-image:
           linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
           url('../img/fundo-site.png');
          
       background-size:cover;
       background-position:center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       color: var(--cor-branco);
       font-family: 'Roboto', sans-serif;
       min-height: 100vh;
       display: flex;
       flex-direction: column;
}
.container-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 5%;
   max-width: 1400px;
   margin: 0 auto;
   width: 100%;


}


.imagem-logo {
   height: 80px;
}


.logo-texto {
   font-size: 1.8rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   font-family: 'Roboto', sans-serif;


}


.logo-leaf {
   color: var(--cor-branco);
   margin-right: 10px;
}


.menu-inicial .cabecalho {
   display: flex;
   align-items: center;
   gap: 30px;
   list-style: none;
}
.cabecalho :hover{
   color: #0a1e4d93;
}


.menu-inicial a {
   color: var(--cor-branco);
   text-decoration: none;
   font-weight: 500;
   font-size: 1.3rem;
   opacity: 0.8;
   transition: opacity 0.3s;
}


.menu-inicial a:hover {
   opacity: 10;
}
